@charset "utf-8";
/* CSS Document */


body {
  font-family: "Lato", sans-serif;
  background-color: #d6d6d6;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.topnav {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-left: 192px;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 10px;
}

/* Style the sidenav links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

 .topnav a {

  color: #3d3d3d;

  padding: 30px 150px 20px 150px;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
  outline: none;
}
/* On mouse-over */
.sidenav a:hover {
  color: #f1f1f1;
}

.topnav a:hover {
	color: #ad0000;
}

/* Main content */
.main {
  margin-top: 60px;
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main a {
	text-decoration: underline;
    font-size: 20px;
	color: #000000;
}

.main a:hover {
	color: #ad0000;
}

table{
    border-collapse:collapse;
    text-align: center;
    border: 3px solid black;
}
td, th {    
    border: 1px solid #E9E9E9;
    width: 120px;
    height: 50px;
    padding-left: 3px;
    padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: rgb(242, 242, 242) ;
}

th{
    background-color: rgb(50, 54, 57) ;
}
td {
    background-color: rgb(82, 86, 89);
    font-size: 15px;
    
}